pc-bus-opentext-card/src/main/resources/opentext-wsdl/26_27_28-ADService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ADService" targetNamespace="urn:otintegration.service.livelink.opentext.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="urn:otintegration.service.livelink.opentext.com"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xsd:schema targetNamespace="urn:otintegration.service.livelink.opentext.com/Imports">
            <xsd:import schemaLocation="26_27_28-ADService.xsd"
                        namespace="urn:otintegration.service.livelink.opentext.com"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="DigitalSignatureHandlingRequest">
        <wsdl:part name="parameters" element="tns:DigitalSignatureHandling"/>
    </wsdl:message>
    <wsdl:message name="DigitalSignatureHandlingResponse">
        <wsdl:part name="parameters" element="tns:DigitalSignatureHandlingResponse"/>
    </wsdl:message>
    <wsdl:message name="PingRequest">
        <wsdl:part name="parameters" element="tns:Ping"/>
    </wsdl:message>
    <wsdl:message name="PingResponse">
        <wsdl:part name="parameters" element="tns:PingResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateADRequest">
        <wsdl:part name="parameters" element="tns:UpdateAD"/>
    </wsdl:message>
    <wsdl:message name="UpdateADResponse">
        <wsdl:part name="parameters" element="tns:UpdateADResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateDSRequest">
        <wsdl:part name="parameters" element="tns:UpdateDS"/>
    </wsdl:message>
    <wsdl:message name="UpdateDSResponse">
        <wsdl:part name="parameters" element="tns:UpdateDSResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateReportActRequest">
        <wsdl:part name="parameters" element="tns:UpdateReportAct"/>
    </wsdl:message>
    <wsdl:message name="UpdateReportActResponse">
        <wsdl:part name="parameters" element="tns:UpdateReportActResponse"/>
    </wsdl:message>
    <wsdl:portType name="ADService">
        <wsdl:operation name="DigitalSignatureHandling">
            <wsdl:input wsaw:Action="urn:otintegration.service.livelink.opentext.com/DigitalSignatureHandling"
                        name="DigitalSignatureHandlingRequest" message="tns:DigitalSignatureHandlingRequest"/>
            <wsdl:output
                    wsaw:Action="urn:otintegration.service.livelink.opentext.com/ADService/DigitalSignatureHandlingResponse"
                    name="DigitalSignatureHandlingResponse" message="tns:DigitalSignatureHandlingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Ping">
            <wsdl:input wsaw:Action="urn:otintegration.service.livelink.opentext.com/Ping" name="PingRequest"
                        message="tns:PingRequest"/>
            <wsdl:output wsaw:Action="urn:otintegration.service.livelink.opentext.com/ADService/PingResponse"
                         name="PingResponse" message="tns:PingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateAD">
            <wsdl:input wsaw:Action="urn:otintegration.service.livelink.opentext.com/UpdateAD" name="UpdateADRequest"
                        message="tns:UpdateADRequest"/>
            <wsdl:output wsaw:Action="urn:otintegration.service.livelink.opentext.com/ADService/UpdateADResponse"
                         name="UpdateADResponse" message="tns:UpdateADResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateDS">
            <wsdl:input wsaw:Action="urn:otintegration.service.livelink.opentext.com/UpdateDS" name="UpdateDSRequest"
                        message="tns:UpdateDSRequest"/>
            <wsdl:output wsaw:Action="urn:otintegration.service.livelink.opentext.com/ADService/UpdateDSResponse"
                         name="UpdateDSResponse" message="tns:UpdateDSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateReportAct">
            <wsdl:input wsaw:Action="urn:otintegration.service.livelink.opentext.com/UpdateReportAct"
                        name="UpdateReportActRequest" message="tns:UpdateReportActRequest"/>
            <wsdl:output wsaw:Action="urn:otintegration.service.livelink.opentext.com/ADService/UpdateReportActResponse"
                         name="UpdateReportActResponse" message="tns:UpdateReportActResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_ADService" type="tns:ADService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DigitalSignatureHandling">
            <soap:operation soapAction="urn:otintegration.service.livelink.opentext.com/DigitalSignatureHandling"
                            style="document"/>
            <wsdl:input name="DigitalSignatureHandlingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DigitalSignatureHandlingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Ping">
            <soap:operation soapAction="urn:otintegration.service.livelink.opentext.com/Ping" style="document"/>
            <wsdl:input name="PingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateAD">
            <soap:operation soapAction="urn:otintegration.service.livelink.opentext.com/UpdateAD" style="document"/>
            <wsdl:input name="UpdateADRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateADResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateDS">
            <soap:operation soapAction="urn:otintegration.service.livelink.opentext.com/UpdateDS" style="document"/>
            <wsdl:input name="UpdateDSRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateDSResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateReportAct">
            <soap:operation soapAction="urn:otintegration.service.livelink.opentext.com/UpdateReportAct"
                            style="document"/>
            <wsdl:input name="UpdateReportActRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateReportActResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ADService">
        <wsdl:port name="BasicHttpBinding_ADService" binding="tns:BasicHttpBinding_ADService">
            <soap:address location="http://z14-0369-opnt.vesta.ru/otintegration/ADService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>